      #sidebar {
      width: 500px;
      }
      .ui-resizable-handle {
      display: inline-block;
      width: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      cursor: ew-resize;
    }
#open {
  left: 1.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: black;
  border-radius: 5px;
  padding-top: 5px;
    border-width: 0;

}

